django
django-tinymce
fontawesomefree
psycopg2
psycopg
django-crispy-forms
django-recaptcha
pillow
psycopg2-binary
dj-database-url
six
gunicorn
crispy-bootstrap4
six
python-decouple
whitenoise
selenium
webdriver-manager