{% extends "header.html" %} 
{% load static %}

{% block content %}
{% include 'includes/sidebar.html' %}

<!-- Contenido de la Pagina-->
<main>
  <div class="titulo-main">Sección de Contenido</div>
  <div class="no-video">No se encuentra Video</div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Acercamiento al Inglés.</h3>
      <p>
        Explicación detallada de todos los pronombres en inglés con ejemplos y
        ejercicios.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/rFZQmXjALbU"
        title="Todos los PRONOMBRES en INGLÉS explicados fácilmente"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe> 
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>¡Describiendo el mundo!</h3>
      <p>
        Cómo hacer una descripción personal en inglés. Incluye ejemplos y
        ejercicios.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/X9uatn1-EiE"
        title="Como hacer una descripción personal en INGLÉS"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Cumpleaños y Fechas.</h3>
      <p>
        Aprende a hablar sobre la fecha en inglés, con ejemplos claros y
        ejercicios.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/_WGqm5miv0A"
        title="LA FECHA EN INGLES"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Indicaciones y Direcciones.</h3>
      <p>
        Cómo pedir y dar direcciones en inglés. Incluye vocabulario, ejemplos y
        diálogos.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/NGXulBqT6p0"
        title="Cómo pedir y dar direcciones en inglés"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Repaso de conocimientos previos.</h3>
      <p>
        Conocimientos esperados del nivel de Ingles Anterior
      </p>
    </div>
  </div>
    
  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="¡El verbo To Be!">¡El verbo To Be!</h3>
      <p>
        Lecciones y entendimiento del verbo to be.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/O-pELo5MMkQ" 
        title="Verb TO BE  - Verbo Ser Estar  | Lección # 2" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="Presente Continuo.">Presente Continuo.</h3>
      <p>
        Lecciones y entendimiento del presente Continuo.
      </p>
    </div>
    <div class="video-container">
      <iframe
      src="https://www.youtube.com/embed/lGkxRXamy7Y" 
      title="PRESENT CONTINUOUS (EXPLICACIÓN + PRÁCTICA) - INGLÉS PARA NIÑOS CON MR.PEA - ENGLISH FOR KIDS" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      ></iframe>
    </div>
  </div>
      
  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="Mi rutina Diaria.">Mi rutina Diaria.</h3>
      <p>
        Lecciones y ejemplos de una rutina Diaria.
      </p>
    </div>
    <div class="video-container">
      <iframe
      src="https://www.youtube.com/embed/6j3r452hbUA" 
      title="RUTINAS DIARIAS EN INGLÉS -DAILY ROUTINES- INGLÉS PARA NIÑOS CON MR.PEA - ENGLISH FOR KIDS" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="Comprensión Lectora">¿Qué he Aprendido?</h3>
      <p>
        Resumen Unidad.
      </p>
    </div>
    <div class="video-container">
      <iframe
      src="https://www.youtube.com/embed/6j3r452hbUA" 
      title="RUTINAS DIARIAS EN INGLÉS -DAILY ROUTINES- INGLÉS PARA NIÑOS CON MR.PEA - ENGLISH FOR KIDS" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- PRUEBA TU CONOCIMIENTO -->
  <!-- Quiz de Comprensión Lectora -->
  <div class="video-section">
    <div class="quiz-info">
        <h3>Comprensión Lectora.</h3>
        <p>Actividades de comprensión lectora</p>
    </div>
    <div class="quiz-container">
        Comenzar Actividad
    </div>
  </div>

  <!-- Quiz de Unidades -->
  <div class="video-section">
    <div class="quiz-info">      
        <h3>Quiz de Unidades.</h3>
        <p>Pon a prueba tus conocimientos con estos quizes</p>
    </div>
    <div class="quiz-container">
        {% if object_list %}
        <div class="quizes-list">
            {% for quiz in object_list %}
            <div class="quiz-card">
                <h4>{{ quiz.name }}</h4>
                <p>Tema: {{ quiz.topic }}</p>
                <p>Dificultad: {{ quiz.difficulty }}</p>
                <p>Tiempo: {{ quiz.time }} minutos</p>
                <p>Número de preguntas: {{ quiz.number_of_questions }}</p>
                <a href="{% url 'quiz-view' quiz.pk %}" class="quiz-button">
                Comenzar Quiz
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No hay quizes disponibles en este momento.</p>
        {% endif %}
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="quiz-info">
      <h3>¡Arrastra y Suelta!</h3>
      <p>
        Actividad de drag and drop
      </p>
    </div>
    <div class="quiz-container">
      actividades de arrastra y suelta.
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="quiz-info">
      <h3>Une los Verbos.</h3>
      <p>
        Actividad de unir verbos con líneas.
      </p>
    </div>
    <div class="quiz-container">
      actividades de arrastra y suelta.
    </div>
  </div>

</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/quiz.js' %}"></script>
{% endblock %}
