{% extends "header.html" %} {% block content %}
<div class="sidebar">
  <button class="dropdown-btn ing-b">
    Inglés Básico
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a" data-titulo="Acercamiento al Inglés."
      >Acercamiento al Inglés.</a
    >
    <hr />
    <a class="dc-a" data-titulo="¡Describiendo el mundo!"
      >¡Describiendo el mundo!</a
    >
    <hr />
    <a class="dc-a" data-titulo="Cumpleaños y Fechas."
      >Cumpleaños y Fechas.</a>
    <hr />
    <a class="dc-a" data-titulo="Indicaciones y Direcciones."
      >Indicaciones y Direcciones.</a
    >
    <hr />
    <a class="dc-a" data-titulo="¿Qué he Aprendido?"
      >¿Qué he Aprendido?</a>
  </div>
  <hr />
  <button class="dropdown-btn ing-e">
    Inglés Elemental
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a" data-titulo="Repaso de conocimientos previos"
      >Repaso de conocimientos previos.</a
    >
    <hr />
    <a class="dc-a" data-titulo="¡El verbo To Be!">¡El verbo To Be!</a>
    <hr />
    <a class="dc-a" data-titulo="Presente Continuo.">Presente Continuo.</a>
    <hr />
    <a class="dc-a" data-titulo="Mi rutina Diaria.">Mi rutina Diaria.</a>
    <hr />
    <a class="dc-a" data-titulo="¿Qué he Aprendido?">¿Qué he Aprendido?</a>
  </div>
  <hr />
  <button class="dropdown-btn pru-e">
    Prueba tu Conocimiento
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a" data-titulo="Comprensión Lectora."
      >Comprensión Lectora.
    </a>
    <hr />
    <a class="dc-a" data-titulo="Quiz de Unidades."
      >Quiz de Unidades.
    </a>
    <hr />
    <a class="dc-a" data-titulo="¡Arrastra y Suelta!"
      >¡Arrastra y Suelta!
    </a>
    <hr />
    <a class="dc-a" data-titulo="Une los Verbos."
      >Une los Verbos.
    </a>
  </div>
  <hr />
  <button class="dropdown-btn sop-t">
    Soporte Técnico
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      maxime rerum ex suscipit accusantium pariatur rem atque et quod
      obcaecati.</a
    >
    <hr />
    <a class="dc-a"
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati,
      magnam!</a
    >
    <hr />
    <a class="dc-a"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cumque
      fugiat, iste ipsa vero provident.</a
    >
    <hr />
    <a class="dc-a"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolor
      cupiditate numquam? Cumque ab perspiciatis commodi, a voluptatum quaerat
      sint? Natus, optio. Ex, dignissimos quaerat.</a
    >
  </div>
  {% include 'includes/messaging.html' %}
</div>
<!-- Contenido de la Pagina-->
<main>
  <div class="titulo-main">Sección de Contenido</div>
  <div class="no-video">No se encuentra Video</div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Acercamiento al Inglés.</h3>
      <p>
        Explicación detallada de todos los pronombres en inglés con ejemplos y
        ejercicios.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/rFZQmXjALbU"
        title="Todos los PRONOMBRES en INGLÉS explicados fácilmente"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe> 
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>¡Describiendo el mundo!</h3>
      <p>
        Cómo hacer una descripción personal en inglés. Incluye ejemplos y
        ejercicios.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/X9uatn1-EiE"
        title="Como hacer una descripción personal en INGLÉS"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Cumpleaños y Fechas.</h3>
      <p>
        Aprende a hablar sobre la fecha en inglés, con ejemplos claros y
        ejercicios.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/_WGqm5miv0A"
        title="LA FECHA EN INGLES"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Indicaciones y Direcciones.</h3>
      <p>
        Cómo pedir y dar direcciones en inglés. Incluye vocabulario, ejemplos y
        diálogos.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/NGXulBqT6p0"
        title="Cómo pedir y dar direcciones en inglés"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Repaso de conocimientos previos.</h3>
      <p>
        Conocimientos esperados del nivel de Ingles Anterior
      </p>
    </div>
  </div>
    
  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="¡El verbo To Be!">¡El verbo To Be!</h3>
      <p>
        Lecciones y entendimiento del verbo to be.
      </p>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/O-pELo5MMkQ" 
        title="Verb TO BE  - Verbo Ser Estar  | Lección # 2" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="Presente Continuo.">Presente Continuo.</h3>
      <p>
        Lecciones y entendimiento del presente Continuo.
      </p>
    </div>
    <div class="video-container">
      <iframe
      src="https://www.youtube.com/embed/lGkxRXamy7Y" 
      title="PRESENT CONTINUOUS (EXPLICACIÓN + PRÁCTICA) - INGLÉS PARA NIÑOS CON MR.PEA - ENGLISH FOR KIDS" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      ></iframe>
    </div>
  </div>
      
  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="Mi rutina Diaria.">Mi rutina Diaria.</h3>
      <p>
        Lecciones y ejemplos de una rutina Diaria.
      </p>
    </div>
    <div class="video-container">
      <iframe
      src="https://www.youtube.com/embed/6j3r452hbUA" 
      title="RUTINAS DIARIAS EN INGLÉS -DAILY ROUTINES- INGLÉS PARA NIÑOS CON MR.PEA - ENGLISH FOR KIDS" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3 data-titulo="Comprensión Lectora">¿Qué he Aprendido?</h3>
      <p>
        Resumen Unidad.
      </p>
    </div>
    <div class="video-container">
      <iframe
      src="https://www.youtube.com/embed/6j3r452hbUA" 
      title="RUTINAS DIARIAS EN INGLÉS -DAILY ROUTINES- INGLÉS PARA NIÑOS CON MR.PEA - ENGLISH FOR KIDS" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Comprensión Lectora.</h3>
      <p>
        QUIZ de comprensión lectora
      </p>
    </div>
    <div class="quiz-container">
        <p>QUIZ-CONTAINER</p>
    </div>
  </div>

  <div class="video-section" onclick="toggleDescription(this)">
    <div class="video-info">
      <h3>Quiz de Unidades.</h3>
      <p>
        QUIZ.
      </p>
    </div>
    <div class="quiz-container">
      QUIZ LIST
      {{obj.name}}
    </div>
  </div>

</main>
{% endblock %}
