{% extends "header.html" %}
{% load static %}

{% block content %}
{% include 'includes/sidebar.html' %}

<main>
    <div class="titulo-main">
        <a href="{% url 'index' %}" class="btn btn-secondary">← Volver</a>
        Quiz: {{ obj.name }}
    </div>
     
        <div class="quiz-detail">
            <h2>{{ obj.topic }}</h2>
            <div class="quiz-info">
            <p><strong></strong>Dificultad:</strong> {{ obj.difficulty }}</p>
            <p><strong>Tiempo:</strong> {{ obj.time }} minutos</p>
            <p><strong>Número de preguntas:</strong> {{ obj.number_of_questions }}</p>
            <p><strong>Puntaje para aprobar:</strong> {{ obj.required_score_to_pass }}%</p>
            </div>                
        
            <p>Puntaje para aprobar: {{ obj.required_score_to_pass }}%</p>
            <form id="quiz-form" class="mt-3 mb-3">
                {% csrf_token %}
                <!-- contenedor de las preguntas -->
                <div id="quiz-box"></div>
                <button type="submit" class="btn btn-primary">Enviar Respuestas</button>
            </form>
            <div id="score-box"></div>
            <div id="result-box"></div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/quiz.js' %}"></script>
{% endblock %}