html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .background {
    position: fixed;
    top: 0;
    left: -10px;
    width: 102%;
    height: 100%;
    background-image: url("../images/library.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);
    z-index: -1;
}

.login-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, 
    rgb(0 192 255) 0%, 
    rgb(0 149 255) 20%, 
    rgb(0 64 255) 40%, 
    rgb(5 78 191) 60%, 
    rgb(0 9 106) 100%);
    height: 60px;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0;
  }
  
footer {
    height: 45px;
    justify-content: space-around;
    padding: 0px;
    background-color: #1A1A1A;
    color: #fff;
    text-align: center;
    margin: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  
  nav {
    max-height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav a{
    display: flex;
  }
  nav a img{
    scale: 75%;
    align-items: center;
    display: flex;
  }
  nav a[href*="https://www.duoc.cl/alumnos/ava-blackboard/"] {  
    align-items: end;
  }
  
  main {
    display: grid;
    margin-left: 24%;
    padding-right: 1%;
    margin-top: 60px;
    padding-left: 20px;
    padding-bottom: 60px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    flex: 1;
    background-color: gainsboro;
  }
  
  #main-login {
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 28vh;
    height: 100vh;
  }
  
  .content-section {
    background: #ffffff;
    padding: 0px 0px 5px 20px;
    border: 1px solid #dddddd;
    border-radius: 12px;
  }

  .form-group{
    margin-bottom: 1rem;
    width: 100%;
    padding-right: 10px;
  }

.mb-4{
  padding: 10px 0px 0px 20px;
}

.pt-3{
  padding-top:5px !important;
}

.form-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-style{
  display: flex;
  justify-content: space-between;
  height: 35vh;
}
  /* FONDO IMAGEN*/
  .fondo{
    display: flex;
    height: 60vh;
    margin: 0;
  }

  .fondo img{
    padding-top: 20px;
    padding-right: 20px;
    height: 300px;
  }
  /* Header Navigation */
ul {
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

/* Animación de entrada */
ul li {
  list-style: none;
  margin: 0 20px;
  opacity: 0; /* Oculto inicialmente */
  transform: translateX(-50px); /* Desplazado desde la izquierda */
  animation: slide-in 0.5s ease forwards;
}

ul li:nth-child(1) { animation-delay: 0.1s; }
ul li:nth-child(2) { animation-delay: 0.2s; }
ul li:nth-child(3) { animation-delay: 0.3s; }
ul li:nth-child(4) { animation-delay: 0.4s; }
ul li:nth-child(5) { animation-delay: 0.5s; }
ul li:nth-child(6) { animation-delay: 0.6s; }

ul li a {
  transform: scale(1);
  display: flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  height: 60px;
  padding: 0 5px;
  font-size: x-large;
  font-family: 'Lato', 'sans-serif';
  color: #fff;
  transition: 0.1s;
}

/* Efecto de hover con desenfoque */
ul li a:hover {
  transform: scale(1);
  opacity: 0.9;
  filter: blur(2px);
}

ul:hover li a {
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
}

/* Subrayado en degradado */
ul li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #3240ff, #7091ff, #8cbdfc);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

ul li a:hover:before {
  transform: scaleX(1);
}

ul li a.active:before {
  transform-origin: left;
  transform: scaleX(1);
}
ul li a.active:after {
  transform-origin: right;
  transform: scaleX(1);
}

.sidebar .dc-a.clicked{
  background-color: #292929; /* Cambia a tu color preferido */
  color: #ffffff;
}

/* Definición de la animación de entrada */
@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0); /* Se coloca en su posición final */
  }
}