{% extends "header.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="background"></div>
<div id="main-login">
    <div class="content-section">
        <form method="POST" class="form-style">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Restablecer contraseña</legend>
                <p>¿Ha olvidado su contraseña? Introduzca su dirección de correo electrónico y le enviaremos instrucciones para crear una nueva.</p>
                {{ form|crispy }}
                <div class="form-button">
                    <button class="btn btn-outline-info" type="submit">Enviar correo</button>
                </div>
                <small class="text-muted">
                    <a class="ml-2" href="/login">Iniciar sesión</a>
                </small>
            </fieldset>
            <div class="fondo">
                <img src="/static/images/bg_login.jpeg" alt="Logo de Duoc UC">
            </div>
        </form>
    </div>
</div>
{% endblock %}