{% extends "header.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container-teacher-crud">
    <h2 class="mb-4">Confirmar Eliminación</h2>
    <div class="alert alert-warning" role="alert">
        Estás seguro de que quieres eliminar el quiz "{{ quiz.name }}"?
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Si, eliminar</button>
        <a href="{% url 'teacher-crud' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}