{% load static %}
<header class="login-header">
    <nav>
        <ul class="menu" data-animation="side-side">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="https://www.cambridgeenglish.org/es/learning-english/free-resources/">Recursos</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'perfil' user.username %}">Mi perfil</a></li>
                {% if user.role == 'TEACHER' or user.is_staff %}
                    <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
                    <li><a href="{% url 'teacher-crud' %}">Quizes</a></li>
                {% endif %}
                {% if user.role != 'TEACHER' or user.is_staff %}
                    <li><a href="{% url 'estadisticas' %}">Estadisticas Personales</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
        <a href="https://www.duoc.cl/alumnos/ava-blackboard/">
            <img src="{% static 'images/logo_duoc.png' %}" alt="Logo de Duoc UC">
        </a>
    </nav>
</header>
