{% load static %}
<header class="{% if navbar_color %}{{ navbar_color }}{% else %}header-default{% endif %}">
    <nav>
        <ul class="menu" data-animation="side-side">
            <li><a href="{% url 'index' %}">SpeakIT</a></li>
            <li><a href="https://research-ebsco-com.webezproxy.duoc.cl/c/pzrq6l/search/details/e2mnio7r5z?db=nlebk">Recursos</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'perfil' user.username %}">Mi perfil</a></li>
            <li><a href="#">Profesores</a></li>
            <li><a href="#">Estadisticas Personales</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
        <a href="https://www.duoc.cl/alumnos/ava-blackboard/">
            <img src="{% static 'images/logo_duoc.png' %}" alt="Logo de Duoc UC">
        </a>
    </nav>
</header>
