<div class="sidebar">
  <div class="sidebar-toggle">
    <button id="sidebarToggle">
        <i class="fas fa-chevron-left"></i>
    </button>
  </div>
  <button class="dropdown-btn ing-b">
    Inglés Básico
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a" data-titulo="Acercamiento al Inglés.">Acercamiento al Inglés.</a>
    <hr />
    <a class="dc-a" data-titulo="¡Describiendo el mundo!">¡Describiendo el mundo!</a>
    <hr />
    <a class="dc-a" data-titulo="Cumpleaños y Fechas.">Cumpleaños y Fechas.</a>
    <hr />
    <a class="dc-a" data-titulo="Indicaciones y Direcciones.">Indicaciones y Direcciones.</a>
    <hr />
    <a class="dc-a" data-titulo="¿Qué he Aprendido?">¿Qué he Aprendido?</a>
  </div>
  <hr />
  <button class="dropdown-btn ing-e">
    Inglés Elemental
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a" data-titulo="Repaso de conocimientos previos">Repaso de conocimientos previos.</a>
    <hr />
    <a class="dc-a" data-titulo="¡El verbo To Be!">¡El verbo To Be!</a>
    <hr />
    <a class="dc-a" data-titulo="Presente Continuo.">Presente Continuo.</a>
    <hr />
    <a class="dc-a" data-titulo="Mi rutina Diaria.">Mi rutina Diaria.</a>
    <hr />
    <a class="dc-a" data-titulo="¿Qué he Aprendido?">¿Qué he Aprendido?</a>
  </div>
  <hr />
  <button class="dropdown-btn pru-e">
    Prueba tu Conocimiento
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a" data-titulo="Comprensión Lectora.">Comprensión Lectora.</a>
    <hr />
    <a class="dc-a" data-titulo="Quiz de Unidades.">Quiz de Unidades.</a>
    <hr />
    <a class="dc-a" data-titulo="¡Arrastra y Suelta!">¡Arrastra y Suelta!</a>
    <hr />
    <a class="dc-a" data-titulo="Une los Verbos.">Une los Verbos.</a>
  </div>
  <hr />
  <button class="dropdown-btn sop-t">
    Soporte Técnico
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="dc-a">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
    <hr />
    <a class="dc-a">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a>
    <hr />
    <a class="dc-a">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
    <hr />
    <a class="dc-a">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
  </div>
  {% include 'includes/messaging.html' %}
</div> 